
    <header>
        <nav class="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="">
                <i class="fa-solid fa-building-columns fa-bounce"></i>
                <span class="fw-bold" style="color: #64b4f6ed;"> Paytm</span>-Bank
            </a>
              <div class="button">
                  <a>
                    <button type="button" routerLink="user/register" class="btn  me-2 fw-bold">Join now</button>
                    <button type="button" routerLink="user/login" class="btn  fw-bold">Login</button>
                  </a>
              </div>
            
            </div>
        </nav>
    </header>

